<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <title>About</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/about.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">
</head>
<body>

<div class="about-section">
  <h1>About Us</h1>
  <p>Some text about who we are and what we do.</p>
</div>

<br>
<h2 style="text-align:center; color:white">Our Team</h2>
<h3 style="text-align:left">Developers</h3>
<div class="row">
  <div class="column">
    <div class="card">
      <img src="team2.jpg" alt="Hareesh V" style="width:100%">
      <div class="container">
        <h2>Hareesh V</h2>
        <p class="title">Developer & Scrum Master</p>
        <p>Email: hareesh@gmail.com</p>
        <p>Phone No: +91 5427936429</p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="team3.jpg" alt="Vishnu Nair" style="width:100%">
      <div class="container">
        <h2>Vishnu Nair</h2>
        <p class="title">Developer</p>
        <p>Email: vishnu@gmail.com</p>
        <p>Phone No: +91 9947234299</p>
      </div>
    </div>
  </div>
  
  <div class="column">
    <div class="card">
      <img src="team3.jpg" alt="Venkat R" style="width:100%">
      <div class="container">
        <h2>Venkat R</h2>
        <p class="title">Developer</p>
        <p>Email: venkat@gmail.com</p>
        <p>Phone No: +91 9945174290</p>
      </div>
    </div>
  </div>

  <h3 style="text-align:left">Testers</h3>
  <div class="column">
    <div class="card">
      <img src="team2.jpg" alt="Narasimha Reddy" style="width:100%">
      <div class="container">
        <h2>Narasimha Reddy</h2>
        <p class="title">Tester</p>
        <p>Email: narasimha@gmail.com</p>
        <p>Phone No: +91 9945131190</p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="team1.jpg" alt="Roshini V" style="width:100%">
      <div class="container">
        <h2>Roshini V</h2>
        <p class="title">Tester</p>
        <p>Email: rosini@gmail.com</p>
        <p>Phone No: +91 958392530</p>
      </div>
    </div>
  </div>
</div>

</body>
</html>