<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <title>Admin dashboard</title>
        <meta charset="UTF-8">
        <title>Admin Dashboard</title>
        <link rel="stylesheet" href="stylesheet.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">
    </head>
    <body>
        <input type="checkbox" id="check">
        <!--header start-->
        <header>
            <label for="check">
                <em class="fas fa-bars" id="sidebar_btn"></em>
            </label>
            <div class="left_area">
                <h3>ADMIN <span>HOME PAGE</span></h3>
            </div>
            <div class="right_area">
                <a href="logout" class="logout_btn">Logout</a>
            </div>
        </header>
        <!--header end-->
        <!--sidebar start-->
        <div class="sidebar" align="center">
                <img src="adminicon.png" class="profile_image" alt="" height="200px" width="200px" border="2px">
                <h4>Admin</h4>
            
            <ul>
        
                  <li class="dropdown1"><a href="#"><em class="far fa-plus-square"></em><span>Add Subjects</span></a>
                  <ul>
                    <li><a href="newstudent"><span>Student to subjects</span></a></li>
                    <li><a href="newfac"><span>Faculty to subjects</span></a></li>
                </ul>
                    </li>
                  <li class="dropdown1"><a href="#"><em class="far fa-plus-square"></em><span>Add Users</span></a>
                    <ul>
                      <li><a href="studenttosubject"><span>Student to subjects</span></a></li>
                      <li><a href="factosubject"><span>Faculty to subjects</span></a></li>
                  </ul>
                  </li>
                  <li><a href="#"><em class="fas fa-pencil-ruler"></em><span>Attendance Rules</span></a></li>
                  <li><a href="#"><em class="fas fa-file-export"></em><span>Export</span></a></li>
                  <li><a href="#"><em class="fas fa-bell"></em><span>Alerts</span></a></li>
                  <li class="dropdown1"><a href="#"><em class="fas fa-sliders-h"></em><span>Settings</span></a>
                    <ul>
                        <li><a href="#"><span>Update Profile Pic</span></a></li>
                        <li><a href="/changepassword"><span>Update Password</span></a></li>
                    </ul>
                
                </li>
            </ul>
        </div>
        <!--sidebar end-->
        <div class="content">
            
        </div> 
    </body>
</html>