
table{
  padding: 10px;
  border: 1px solid black;
  border-collapse: collapse;
  width: 750px;
  height: 350 px;
  border-spacing: 0,10px;
  background-color: gray;
  
}
th{
padding: 30px;	

}
caption{color: white; background-color:rgba(52,117,145,255)}
#btn{width: 200px;  background-color:rgba(52,117,145,255); color:white; height:30px; font-size:12px; }
label{color:white;}
body{background-image: url("am2.jpg"); background-repeat: no-repeat; background-size: cover;}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a, .dropbtn {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover, .check:hover .dropbtn {
  background-color: red;
}

li.check {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1;}

.check:hover .dropdown-content {
  display: block;
}
.active {
  background-color: #4CAF50;
}