<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
	<title>faculty</title>
	<meta charset="UTF-8">
	<title>Faculty Login Page</title>
	<link rel="stylesheet" href="/login.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">
</head>

<body>
	
	<div class="login">
		<img src="/tea1.png" alt="" height="200px" width="200px" border="1px">
		<br>
		<h2>Login</h2>
		<div class="group"><input type="text" placeholder="Username" id="Username"><em class="fa fa-user"></em></div>

		<div class="group"><input type="password" placeholder="Password" id="Password"><em class="fa fa-lock"></em></div>

		<button id="submit"><em class="far fa-paper-plane"></em> Login</button>

		<p class="fs"><a href="forgot.html">Forgot Password</a> ?</p>

		<p class="fs">© 2021 group_9</p>
	</div>

	<script src="/faculty.js"></script>
</body>
</html>