<main class="faq">
        
    <div class="faq__logo__holder">
    <div class="faq__logo">
      <img src="https://bobmatyas.github.io/fm-faq-accordion/images/illustration-woman-online-mobile.svg" alt="woman at a computer" class="faq__logo__image hidden-lg">
      <link href="/faq.css" rel="stylesheet" >
      <img src="https://bobmatyas.github.io/fm-faq-accordion/images/illustration-box-desktop.svg" alt="" class="faq__logo__image visible-lg">
    </div>
    </div>
    
    <div class="faq__holder">
    <h1 class="faq__heading">FAQ</h1>
   
    <details class="faq__detail">
        <summary  class="faq__summary"><span class="faq__question">How can I retrieve my account if I forget my password?</span></summary>
        <p class="faq__text">Dont Worry. Under the password section of the login page, click on the Forgot Password link. Enter your Email ID and click on send verification link. Open your mail, check for Acknowlegdment Email and click on reset password link to change your password.</p>
    </details>
  
    <details class="faq__detail">
      <summary  class="faq__summary"><span class="faq__question">How can I update my password if I have to change for security reasons?</span></summary>
      <p class="faq__text">In your dashboard, navigate to Settings > Update Password. It will redirect you to Update Password Page. Fill the necessary details and you are good to go!!</p>
    </details>   
  
    <details class="faq__detail">
      <summary  class="faq__summary"><span class="faq__question">As an admin, how do I register students/faculty into the system?</span></summary>
      <p class="faq__text">Login into your account. Navigate to Add Users > Students to Subjects or Faculty to Subjects.
        A signup forms appears, fill the neccesary details and click on sign up to enroll the desired student/faculty.</p>
    </details>
    
    <details class="faq__detail">
      <summary  class="faq__summary"><span class="faq__question">As a faculty, how do I take/check the attendance?</span></summary>
      <p class="faq__text">Login into your account. Navigate to Attendance > Take attendance or Check Attendance.
        For Take Attendance, enter the class details. A list of students pertaining to the class appear. Mark the check box against their name and click on take attendance button to take the attendance.
        For Check Attendance, enter the class details and click on check attendance button. Details of students as well as their attendance percentages are displayed</p>
    </details>
  
  </div>
  </main> 