<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <title>logout</title>
        <meta charset="UTF-8">
        <title>Logout Page</title>
        <link rel="stylesheet" href="/logout.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">
    </head>
    <body>
       
        <div class="logo-image">
            <img src="/logo.png" alt="" height="200px" width="200px">
        </div>
        <div class="outer-box">
            <div class="tick-image">
                <left><img src="success.png" alt=""></left>
                
            </div>
            <div class="inner-box">
                <strong>You have been logged out of the system.</strong>
                <br><br><br>
                <strong>For security reasons, please exit the browser.</strong>
                
            </div>
            <br><br>
            
            <a href="/"><strong>HOME</strong></a>
            &nbsp;
            &nbsp;
            &nbsp;
            <span><strong>|</strong></span>
            &nbsp;
            &nbsp;
            <a href="/about"><strong>ABOUT</strong></a>
            &nbsp;
            &nbsp;
            &nbsp;
            <span><strong>|</strong></span>
            &nbsp;
            &nbsp;
            <a href="/faq"><strong>FAQ</strong></a>
        </div>
        <script src="/logout.js"></script>
    </body>
</html>