<!DOCTYPE html>
<html lang="en" dir="ltr">
  
    <head>
        
    <title> password </title>
    <link rel="stylesheet" href="/password.css">
    <body>
        <div class="loginbox">
            <img src="/sign.jpg" alt="sign img" class="avatar" >
            <h1>Change password</h1>
            <form>
                <label for="fname"><strong>Current Password</strong></label>
    <input type="password" placeholder="Enter Current password" name="fname" id ="prepass" required>
     <br>
    <label for="email"><strong>New Password</strong></label>
    <input type="password" placeholder="Enter New password" name="email" id="newpass" required>
    <br>
    <label for="psw"><strong>Confirm Password</strong></label>
    <input type="password" placeholder="Confirm password" name="psw" id="copass" required>
    <br>
    <div class="clearfix">
      <button type="button" class="cancelbtn">Cancel</button>
      <button type="submit" class="signupbtn" id ="change">Update</button>
    </div>
  </div>
</form>
<script src="/password.js"></script>
</body>
</html>
