<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <title>faculty_enroll</title>
        <meta charset="UTF-8">
        <title>Sidebar Dashboard Template</title>
        <link rel="stylesheet" href="style1.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">
    </head>
    <body>
        <input type="checkbox" id="check">
        <!--header start-->
        <header>
            <label for="check">
                <em class="fas fa-bars" id="sidebar_btn"></em>
            </label>
            <div class="left_area">
                <h3>STUDENT <span>HOME PAGE</span></h3>
            </div>
            <div class="right_area">
                <a href="/logout" class="logout_btn">Logout</a>
            </div>
        </header>
        <!--header end-->
        <!--sidebar start-->
        <div class="sidebar" align="center">
                <img src="studenticon.jpg" class="profile_image" alt="" height="200px" width="200px" border="2px">
                <h4>Venkataraman</h4>
            <a href="#"><em class="fas fa-desktop"></em><span>Dashboard</span></a>
            <a href="#"><em class="fab fa-meetup"></em><span>Join Meeting</span></a>
            <a href="#"><em class="far fa-address-card"></em><span>Attendance</span></a>
            <a href="#"><em class="fas fa-bell"></em><span>Alerts</span></a>
            <a href="#"><em class="fas fa-sliders-h"></em><span>Settings</span></a>
            <a href="#"><em class="fas fa-info-circle"></em><span>About</span></a>

        </div>
        <!--sidebar end-->
        <div class="content"></div>
    </body>
</html>